.bootstrap-growl.alert > p {
    display: inline-block;
}

body { padding-top: 70px !important; background-color: #D6D5C2;}

header .navbar.navbar-default {
    box-shadow: 0 -2px 7px #777;
    background: #B2B4A3;
    border-bottom: 1px solid #888 !important;
}

@media (min-width: 768px) {
    header .navbar-collapse ul.navbar-nav {
        float: right !important;
        margin-right: 0;
    }

}

@media (max-width: 768px) {
    .btn-circle {
        padding: 3px 6px !important;
    }

    .shoping-cart {
        margin-left: -10px!important;
    }
}

header .navbar-brand {
    letter-spacing: 5px;
    color: #fff !important;
}

header .navbar-collapse ul.navbar-nav a {
    font-size: 18px !important;
}

.navbar-default .navbar-nav > li > a {
    color: #fff !important;
}



header a {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.btn-circle {
    width: 20px;
    height: 20px;
    text-align: center;
    padding: 3px 0;
    font-size: 10px;
    line-height: 1.428571429;
    border-radius: 50%;
    border-color: #D1D0B5;
    color: #D1D0B5;
    font-weight: bold;
}

.shoping-cart {
    position: absolute;
    margin-top: -5px;
    margin-left: -8px;
}

.breadcrumb {
    margin-bottom: 0 !important;
    background-color: unset !important;
    padding-left: 0!important;
}

.breadcrumb > li:first-child > a {
    padding-left: 0!important;
}

.breadcrumb a {
    text-decoration: none !important;
    color: #fff;
    font-size: 24px;
    padding: 0 5px;
}
.breadcrumb>li+li:before {
    padding: 0 5px;
    font-size: 7px;
    font-family: FontAwesome;
    color: #000;
    content: "\f111";
    vertical-align:middle;
}

.input-group-lg .form-control {
    border-radius: 25px;
    height: 45px !important;
}

/* enable absolute positioning */
.inner-addon {
    position: relative;
}

/* style icon */
.inner-addon .fa-stack {
    position: absolute;
    padding: 5px;
    pointer-events: none;
    margin: 0 5px;
    color: #A5A58D;
}

/* align icon */
.left-addon .fa-stack  { left:  0px;}
.right-addon .fa-stack { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

.btn-gold {
    background-color: #BEBC97;
    color: #fff;
    border-color: #BEBC97;
    border-radius: 45px;
    padding: 10px 25px;
}

.btn-gray {
    background-color: #eee;
    color: #888;
    border-color: #888;
    border-radius: 45px;
    padding: 10px 25px;
}

@media screen and (min-width: 768px) {
    .carousel-indicators {
        bottom: 0;
    }
}

.tip {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.info-tip {
    background-color: #676C68;
    color: #fff;
    padding: 5px 10px;
    height: 100px;
}

.card {
    background-color: #fff;
    border-radius: 5px;
    padding: 30px 20px;
}

.card > p > a {
    text-decoration: underline;
    color: #888;
}

.carousel-indicators .active {
    width: 15px;
    height: 15px;
    background-color: #98977C !important;
}