.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}

.line-height-1p0 {
    line-height: 1.0;
}

.line-height-1p1 {
    line-height: 1.1;
}

.line-height-1p2 {
    line-height: 1.2;
}

.line-height-1p3 {
    line-height: 1.3;
}

.line-height-1p4 {
    line-height: 1.4;
}

.line-height-1p5 {
    line-height: 1.5;
}

.line-height-1p6 {
    line-height: 1.6;
}

.line-height-1p7 {
    line-height: 1.7;
}

.line-height-1p8 {
    line-height: 1.8;
}

.line-height-1p9 {
    line-height: 1.9;
}

.line-height-2p0 {
    line-height: 2.0;
}

.font-weight-200 {
    font-weight: 200 !important;
}

.font-weight-300 {
    font-weight: 300 !important;
}

.font-weight-400 {
    font-weight: 400 !important;
}

.font-weight-500 {
    font-weight: 500 !important;
}

.font-weight-600 {
    font-weight: 600 !important;
}

.font-weight-normal {
    font-weight: normal !important;
}

/* ".table" to account for bootstrap .table */
.text-left, .table td.text-left {
    text-align: left;
}

.text-center, .table td.text-center {
    text-align: center;
}

.text-right, .table td.text-right {
    text-align: right;
}

.table.table-clean td {
    border-top: none;
}

/* Font in Points */
.font-size-7pt {
    font-size: 7pt;
}

.font-size-8pt {
    font-size: 8pt;
}

.font-size-9pt {
    font-size: 9pt;
}

.font-size-10pt {
    font-size: 10pt;
}

.font-size-11pt {
    font-size: 11pt;
}

.font-size-12pt {
    font-size: 12pt;
}

.font-size-13pt {
    font-size: 13pt;
}

.font-size-14pt {
    font-size: 14pt;
}

.font-size-15pt {
    font-size: 15pt;
}

.font-size-16pt {
    font-size: 16pt;
}

.font-size-17pt {
    font-size: 17pt;
}

.font-size-18pt {
    font-size: 18pt;
}

.font-size-19pt {
    font-size: 19pt;
}

.font-size-20pt {
    font-size: 20pt;
}

.font-size-21pt {
    font-size: 21pt;
}

.font-size-22pt {
    font-size: 22pt;
}

.font-size-23pt {
    font-size: 23pt;
}

.font-size-24pt {
    font-size: 24pt;
}

.font-size-25pt {
    font-size: 25pt;
}

.font-size-26pt {
    font-size: 26pt;
}

.font-size-27pt {
    font-size: 27pt;
}

.font-size-28pt {
    font-size: 28pt;
}

.font-size-29pt {
    font-size: 29pt;
}

.font-size-30pt {
    font-size: 30pt;
}

.font-size-40pt {
    font-size: 40pt;
}

.font-size-50pt {
    font-size: 50pt;
}

.font-size-60pt {
    font-size: 60pt;
}

.font-size-70pt {
    font-size: 70pt;
}

.font-size-80pt {
    font-size: 80pt;
}

/* Font in Pixels */
.font-size-9px {
    font-size: 9px;
}

.font-size-10px {
    font-size: 10px;
}

.font-size-11px {
    font-size: 11px;
}

.font-size-12px {
    font-size: 12px;
}

.font-size-13px {
    font-size: 13px;
}

.font-size-14px {
    font-size: 14px;
}

.font-size-15px {
    font-size: 15px;
}

.font-size-16px {
    font-size: 16px;
}

.font-size-17px {
    font-size: 17px;
}

.font-size-18px {
    font-size: 18px;
}

.font-size-19px {
    font-size: 19px;
}

.font-size-20px {
    font-size: 20px;
}

.font-size-21px {
    font-size: 21px;
}

.font-size-22px {
    font-size: 22px;
}

.font-size-23px {
    font-size: 23px;
}

.font-size-24px {
    font-size: 24px;
}

.font-size-25px {
    font-size: 25px;
}

.font-size-26px {
    font-size: 26px;
}

.font-size-27px {
    font-size: 27px;
}

.font-size-28px {
    font-size: 28px;
}

.font-size-29px {
    font-size: 29px;
}

.font-size-30px {
    font-size: 30px;
}

.font-size-31px {
    font-size: 31px;
}

.font-size-32px {
    font-size: 32px;
}

.font-size-33px {
    font-size: 33px;
}

.font-size-34px {
    font-size: 34px;
}

.font-size-35px {
    font-size: 35px;
}

.font-size-36px {
    font-size: 36px;
}

.font-size-37px {
    font-size: 37px;
}

.font-size-38px {
    font-size: 38px;
}

.font-size-39px {
    font-size: 39px;
}

.font-size-40px {
    font-size: 40px;
}

.font-size-41px {
    font-size: 41px;
}

.font-size-42px {
    font-size: 42px;
}

.font-size-43px {
    font-size: 43px;
}

.font-size-44px {
    font-size: 44px;
}

.font-size-45px {
    font-size: 45px;
}

.font-size-46px {
    font-size: 46px;
}

.font-size-47px {
    font-size: 47px;
}

.font-size-48px {
    font-size: 48px;
}

.font-size-49px {
    font-size: 49px;
}

.font-size-50px {
    font-size: 50px;
}

.font-size-60px {
    font-size: 60px;
}

.font-size-70px {
    font-size: 70px;
}

.font-size-80px {
    font-size: 80px;
}

/* Font in Ems */
.font-size-0p7em {
    font-size: 0.7em;
}

.font-size-0p8em {
    font-size: 0.8em;
}

.font-size-0p9em {
    font-size: 0.9em;
}

.font-size-1p0em {
    font-size: 1.0em;
}

.font-size-1p1em {
    font-size: 1.1em;
}

.font-size-1p2em {
    font-size: 1.2em;
}

.font-size-1p3em {
    font-size: 1.3em;
}

.font-size-1p4em {
    font-size: 1.4em;
}

.font-size-1p5em {
    font-size: 1.5em;
}

.font-size-1p6em {
    font-size: 1.6em;
}

.font-size-1p7em {
    font-size: 1.7em;
}

.font-size-1p8em {
    font-size: 1.8em;
}

.font-size-1p9em {
    font-size: 1.9em;
}

.font-size-2p0em {
    font-size: 2.0em;
}

.font-size-2p1em {
    font-size: 2.1em;
}

.font-size-2p2em {
    font-size: 2.2em;
}

.font-size-2p3em {
    font-size: 2.3em;
}

.font-size-2p4em {
    font-size: 2.4em;
}

.font-size-2p5em {
    font-size: 2.5em;
}

.font-size-2p6em {
    font-size: 2.6em;
}

.font-size-2p7em {
    font-size: 2.7em;
}

.font-size-2p8em {
    font-size: 2.8em;
}

.font-size-2p9em {
    font-size: 2.9em;
}

.font-size-3p0em {
    font-size: 3.0em;
}

.font-size-4p0em {
    font-size: 4.0em;
}

.font-size-5p0em {
    font-size: 5.0em;
}

.position-left-0 {
    left: 0;
}

.position-left-1 {
    left: 1px;
}

.position-left-2 {
    left: 2px;
}

.position-left-3 {
    left: 3px;
}

.position-left-4 {
    left: 4px;
}

.position-left-5 {
    left: 5px;
}

.position-left-6 {
    left: 6px;
}

.position-left-7 {
    left: 7px;
}

.position-left-8 {
    left: 8px;
}

.position-left-9 {
    left: 9px;
}

.position-left-10 {
    left: 10px;
}

.position-top-0 {
    top: 0px;
}

.position-top-1 {
    top: 1px;
}

.position-top-2 {
    top: 2px;
}

.position-top-3 {
    top: 3px;
}

.position-top-4 {
    top: 4px;
}

.position-top-5 {
    top: 5px;
}

.position-top-6 {
    top: 6px;
}

.position-top-7 {
    top: 7px;
}

.position-top-8 {
    top: 8px;
}

.position-top-9 {
    top: 9px;
}

.position-top-10 {
    top: 10px;
}

.position-left-minus-1 {
    left: -1px;
}

.position-left-minus-2 {
    left: -2px;
}

.position-left-minus-3 {
    left: -3px;
}

.position-left-minus-4 {
    left: -4px;
}

.position-left-minus-5 {
    left: -5px;
}

.position-top-minus-1 {
    top: -1px;
}

.position-top-minus-2 {
    top: -2px;
}

.position-top-minus-3 {
    top: -3px;
}

.position-top-minus-4 {
    top: -4px;
}

.position-top-minus-5 {
    top: -5px;
}

.margin-0 {
    margin: 0;
}

.margin-5 {
    margin: 5px;
}

.margin-10 {
    margin: 10px;
}

.margin-15 {
    margin: 15px;
}

.margin-20 {
    margin: 20px;
}

.margin-25 {
    margin: 25px;
}

.margin-30 {
    margin: 30px;
}

.margin-35 {
    margin: 35px;
}

.margin-top-0 {
    margin-top: 0;
}

.margin-top-1 {
    margin-top: 1px;
}

.margin-top-2 {
    margin-top: 2px;
}

.margin-top-3 {
    margin-top: 3px;
}

.margin-top-4 {
    margin-top: 4px;
}

.margin-top-5 {
    margin-top: 5px;
}

.margin-top-6 {
    margin-top: 6px;
}

.margin-top-7 {
    margin-top: 7px;
}

.margin-top-8 {
    margin-top: 8px;
}

.margin-top-9 {
    margin-top: 9px;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-top-15 {
    margin-top: 15px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-top-25 {
    margin-top: 25px;
}

.margin-top-30 {
    margin-top: 30px;
}

.margin-top-35 {
    margin-top: 35px;
}

.margin-top-40 {
    margin-top: 40px;
}

.margin-top-45 {
    margin-top: 45px;
}

.margin-top-50 {
    margin-top: 50px;
}

.margin-bottom-0 {
    margin-bottom: 0;
}

.margin-bottom-1 {
    margin-bottom: 1px;
}

.margin-bottom-2 {
    margin-bottom: 2px;
}

.margin-bottom-3 {
    margin-bottom: 3px;
}

.margin-bottom-4 {
    margin-bottom: 4px;
}

.margin-bottom-5 {
    margin-bottom: 5px;
}

.margin-bottom-6 {
    margin-bottom: 6px;
}

.margin-bottom-7 {
    margin-bottom: 7px;
}

.margin-bottom-8 {
    margin-bottom: 8px;
}

.margin-bottom-9 {
    margin-bottom: 9px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-bottom-15 {
    margin-bottom: 15px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-bottom-25 {
    margin-bottom: 25px;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

.margin-bottom-35 {
    margin-bottom: 35px;
}

.margin-bottom-40 {
    margin-bottom: 40px;
}

.margin-bottom-45 {
    margin-bottom: 45px;
}

.margin-bottom-50 {
    margin-bottom: 50px;
}

.margin-right-0 {
    margin-right: 0;
}

.margin-right-1 {
    margin-right: 1px;
}

.margin-right-2 {
    margin-right: 2px;
}

.margin-right-3 {
    margin-right: 3px;
}

.margin-right-4 {
    margin-right: 4px;
}

.margin-right-5 {
    margin-right: 5px;
}

.margin-right-6 {
    margin-right: 6px;
}

.margin-right-7 {
    margin-right: 7px;
}

.margin-right-8 {
    margin-right: 8px;
}

.margin-right-9 {
    margin-right: 9px;
}

.margin-right-10 {
    margin-right: 10px;
}

.margin-right-15 {
    margin-right: 15px;
}

.margin-right-20 {
    margin-right: 20px;
}

.margin-right-25 {
    margin-right: 25px;
}

.margin-right-30 {
    margin-right: 30px;
}

.margin-left-0 {
    margin-left: 0;
}

.margin-left-1 {
    margin-left: 1px;
}

.margin-left-2 {
    margin-left: 2px;
}

.margin-left-3 {
    margin-left: 3px;
}

.margin-left-4 {
    margin-left: 4px;
}

.margin-left-5 {
    margin-left: 5px;
}

.margin-left-6 {
    margin-left: 6px;
}

.margin-left-7 {
    margin-left: 7px;
}

.margin-left-8 {
    margin-left: 8px;
}

.margin-left-9 {
    margin-left: 9px;
}

.margin-left-10 {
    margin-left: 10px;
}

.margin-left-15 {
    margin-left: 15px;
}

.margin-left-20 {
    margin-left: 20px;
}

.margin-left-25 {
    margin-left: 25px;
}

.margin-left-30 {
    margin-left: 30px;
}

.margin-left-35 {
    margin-left: 35px;
}

.margin-left-40 {
    margin-left: 40px;
}

.margin-left-45 {
    margin-left: 45px;
}

.margin-left-50 {
    margin-left: 50px;
}

.margin-left-55 {
    margin-left: 55px;
}

.margin-left-60 {
    margin-left: 60px;
}

.margin-left-65 {
    margin-left: 65px;
}

.margin-left-70 {
    margin-left: 70px;
}

.margin-left-75 {
    margin-left: 75px;
}

.margin-left-80 {
    margin-left: 80px;
}

.margin-left-85 {
    margin-left: 85px;
}

.margin-left-90 {
    margin-left: 90px;
}

.margin-left-95 {
    margin-left: 95px;
}

.margin-left-100 {
    margin-left: 100px;
}

.padding-0 {
    padding: 0;
}

.padding-10 {
    padding: 10;
}

.padding-15 {
    padding: 15;
}

.padding-20 {
    padding: 20;
}

.padding-5px {
    padding: 5px;
}

.padding-10px {
    padding: 10px;
}

.padding-15px {
    padding: 15px;
}

.padding-20px {
    padding: 20px;
}

.padding-top-0 {
    padding-top: 0;
}

.padding-top-1 {
    padding-top: 1px;
}

.padding-top-2 {
    padding-top: 2px;
}

.padding-top-3 {
    padding-top: 3px;
}

.padding-top-4 {
    padding-top: 4px;
}

.padding-top-5 {
    padding-top: 5px;
}

.padding-top-6 {
    padding-top: 6px;
}

.padding-top-7 {
    padding-top: 7px;
}

.padding-top-8 {
    padding-top: 8px;
}

.padding-top-9 {
    padding-top: 9px;
}

.padding-top-10 {
    padding-top: 10px;
}

.padding-bottom-0 {
    padding-bottom: 0;
}

.padding-bottom-1 {
    padding-bottom: 1px;
}

.padding-bottom-2 {
    padding-bottom: 2px;
}

.padding-bottom-3 {
    padding-bottom: 3px;
}

.padding-bottom-4 {
    padding-bottom: 4px;
}

.padding-bottom-5 {
    padding-bottom: 5px;
}

.padding-bottom-6 {
    padding-bottom: 6px;
}

.padding-bottom-7 {
    padding-bottom: 7px;
}

.padding-bottom-8 {
    padding-bottom: 8px;
}

.padding-bottom-9 {
    padding-bottom: 9px;
}

.padding-bottom-10 {
    padding-bottom: 10px;
}

.padding-right-0 {
    padding-right: 0;
}

.padding-right-1 {
    padding-right: 1px;
}

.padding-right-2 {
    padding-right: 2px;
}

.padding-right-3 {
    padding-right: 3px;
}

.padding-right-4 {
    padding-right: 4px;
}

.padding-right-5 {
    padding-right: 5px;
}

.padding-right-6 {
    padding-right: 6px;
}

.padding-right-7 {
    padding-right: 7px;
}

.padding-right-8 {
    padding-right: 8px;
}

.padding-right-9 {
    padding-right: 9px;
}

.padding-right-10 {
    padding-right: 10px;
}

.padding-right-15 {
    padding-right: 15px;
}

.padding-right-20 {
    padding-right: 20px;
}

.padding-right-25 {
    padding-right: 25px;
}

.padding-right-30 {
    padding-right: 30px;
}

.padding-right-35 {
    padding-right: 35px;
}

.padding-right-40 {
    padding-right: 40px;
}

.padding-right-45 {
    padding-right: 45px;
}

.padding-right-50 {
    padding-right: 50px;
}

.padding-left-0 {
    padding-left: 0;
}

.padding-left-1 {
    padding-left: 1px;
}

.padding-left-2 {
    padding-left: 2px;
}

.padding-left-3 {
    padding-left: 3px;
}

.padding-left-4 {
    padding-left: 4px;
}

.padding-left-5 {
    padding-left: 5px;
}

.padding-left-6 {
    padding-left: 6px;
}

.padding-left-7 {
    padding-left: 7px;
}

.padding-left-8 {
    padding-left: 8px;
}

.padding-left-9 {
    padding-left: 9px;
}

.padding-left-10 {
    padding-left: 10px;
}

.padding-left-15 {
    padding-left: 15px;
}

.padding-left-20 {
    padding-left: 20px;
}

.padding-left-25 {
    padding-left: 25px;
}

.padding-left-30 {
    padding-left: 30px;
}

.padding-left-35 {
    padding-left: 35px;
}

.padding-left-40 {
    padding-left: 40px;
}

.padding-left-45 {
    padding-left: 45px;
}

.padding-left-50 {
    padding-left: 50px;
}

.bigger-110 {
    font-size: 110% !important
}

.bigger-120 {
    font-size: 120% !important
}

.bigger-130 {
    font-size: 130% !important
}

.bigger-140 {
    font-size: 140% !important
}

.bigger-150 {
    font-size: 150% !important
}

.bigger-160 {
    font-size: 160% !important
}

.bigger-170 {
    font-size: 170% !important
}

.bigger-180 {
    font-size: 180% !important
}

.bigger-190 {
    font-size: 190% !important
}

.bigger-200 {
    font-size: 200% !important
}

.bigger-210 {
    font-size: 210% !important
}

.bigger-220 {
    font-size: 220% !important
}

.bigger-230 {
    font-size: 230% !important
}

.bigger-240 {
    font-size: 240% !important
}

.bigger-250 {
    font-size: 250% !important
}

.bigger-260 {
    font-size: 260% !important
}

.bigger-270 {
    font-size: 270% !important
}

.bigger-280 {
    font-size: 280% !important
}

.bigger-290 {
    font-size: 290% !important
}

.bigger-300 {
    font-size: 300% !important
}

.bigger-125 {
    font-size: 125% !important
}

.bigger-175 {
    font-size: 175% !important
}

.bigger-225 {
    font-size: 225% !important
}

.bigger-275 {
    font-size: 275% !important
}

.spacer-1, .spacer-2, .spacer-3, .spacer-4, .spacer-5, .spacer-6, .spacer-7, .spacer-8, .spacer-9, .spacer-10,
.spacer-11, .spacer-12, .spacer-13, .spacer-14.spacer-15,
.spacer-20, .spacer-25,
.spacer-30, .spacer-35,
.spacer-40, .spacer-45,
.spacer-50, .spacer-55,
.spacer-60, .spacer-65,
.spacer-70, .spacer-75,
.spacer-80, .spacer-85,
.spacer-90, .spacer-95,
.spacer-100,
.spacer-120,
.spacer-200,
.spacer-300,
.spacer-400,
.spacer-500 {
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 0;
    width: 100%;
}

.spacer-1 {
    height: 1px;
}

.spacer-2 {
    height: 2px;
}

.spacer-3 {
    height: 3px;
}

.spacer-4 {
    height: 4px;
}

.spacer-5 {
    height: 5px;
}

.spacer-6 {
    height: 6px;
}

.spacer-7 {
    height: 7px;
}

.spacer-8 {
    height: 8px;
}

.spacer-9 {
    height: 9px;
}

.spacer-10 {
    height: 10px;
}

.spacer-11 {
    height: 11px;
}

.spacer-12 {
    height: 12px;
}

.spacer-13 {
    height: 13px;
}

.spacer-14 {
    height: 14px;
}

.spacer-15 {
    height: 15px;
}

.spacer-20 {
    height: 20px;
}

.spacer-25 {
    height: 25px;
}

.spacer-30 {
    height: 30px;
}

.spacer-35 {
    height: 35px;
}

.spacer-40 {
    height: 40px;
}

.spacer-45 {
    height: 45px;
}

.spacer-50 {
    height: 50px;
}

.spacer-55 {
    height: 55px;
}

.spacer-60 {
    height: 60px;
}

.spacer-65 {
    height: 65px;
}

.spacer-70 {
    height: 70px;
}

.spacer-75 {
    height: 75px;
}

.spacer-80 {
    height: 80px;
}

.spacer-85 {
    height: 85px;
}

.spacer-90 {
    height: 90px;
}

.spacer-95 {
    height: 95px;
}

.spacer-100 {
    height: 100px;
}

.spacer-110 {
    height: 110px;
}

.spacer-120 {
    height: 120px;
}

.spacer-130 {
    height: 130px;
}

.spacer-140 {
    height: 140px;
}

.spacer-150 {
    height: 150px;
}

.spacer-200 {
    height: 200px;
}

.spacer-300 {
    height: 300px;
}

.spacer-400 {
    height: 400px;
}

.spacer-500 {
    height: 500px;
}

.width-auto {
    width: auto !important;
}

/* Percentage */
.width-1 {
    width: 1% !important;
}

.width-20 {
    width: 20% !important;
}

.width-25 {
    width: 25% !important;
}

.width-30 {
    width: 30% !important;
}

.width-35 {
    width: 35% !important;
}

.width-40 {
    width: 40% !important;
}

.width-45 {
    width: 45% !important;
}

.width-50 {
    width: 50% !important;
}

.width-55 {
    width: 55% !important;
}

.width-60 {
    width: 60% !important;
}

.width-65 {
    width: 65% !important;
}

.width-70 {
    width: 70% !important;
}

.width-75 {
    width: 75% !important;
}

.width-80 {
    width: 80% !important;
}

.width-85 {
    width: 85% !important;
}

.width-90 {
    width: 90% !important;
}

.width-95 {
    width: 95% !important;
}

.width-100 {
    width: 100% !important;
}

/* Pixels */
.width-5px {
    width: 5px;
}

.width-10px {
    width: 10px;
}

.width-15px {
    width: 15px;
}

.width-20px {
    width: 20px;
}

.width-25px {
    width: 25px;
}

.width-30px {
    width: 30px;
}

.width-35px {
    width: 35px;
}

.width-40px {
    width: 40px;
}

.width-45px {
    width: 45px;
}

.width-50px {
    width: 50px;
}

.width-55px {
    width: 55px;
}

.width-60px {
    width: 60px;
}

.width-65px {
    width: 65px;
}

.width-70px {
    width: 70px;
}

.width-75px {
    width: 75px;
}

.width-80px {
    width: 80px;
}

.width-85px {
    width: 85px;
}

.width-90px {
    width: 90px;
}

.width-95px {
    width: 95px;
}

.width-100px {
    width: 100px;
}

.width-110px {
    width: 110px;
}

.width-120px {
    width: 120px;
}

.width-130px {
    width: 130px;
}

.width-140px {
    width: 140px;
}

.width-150px {
    width: 150px;
}

.width-160px {
    width: 160px;
}

.width-170px {
    width: 170px;
}

.width-180px {
    width: 180px;
}

.width-190px {
    width: 190px;
}

.width-200px {
    width: 200px;
}

.width-210px {
    width: 210px;
}

.width-220px {
    width: 220px;
}

.width-230px {
    width: 230px;
}

.width-240px {
    width: 240px;
}

.width-250px {
    width: 250px;
}

.width-260px {
    width: 260px;
}

.width-270px {
    width: 270px;
}

.width-280px {
    width: 280px;
}

.width-290px {
    width: 290px;
}

.width-300px {
    width: 300px;
}

.height-auto {
    height: auto !important;
}

.height-1 {
    height: 1px;
}

.height-2 {
    height: 2px;
}

.height-3 {
    height: 3px;
}

.height-4 {
    height: 4px;
}

.height-5 {
    height: 5px;
}

.height-6 {
    height: 6px;
}

.height-7 {
    height: 7px;
}

.height-8 {
    height: 8px;
}

.height-9 {
    height: 9px;
}

.height-10 {
    height: 10px;
}

.height-15 {
    height: 15px;
}

.height-20 {
    height: 20px;
}

.height-25 {
    height: 25px;
}

.height-30 {
    height: 30px;
}

.height-35 {
    height: 35px;
}

.height-40 {
    height: 40px;
}

.height-45 {
    height: 45px;
}

.height-50 {
    height: 50px;
}

.height-55 {
    height: 55px;
}

.height-60 {
    height: 60px;
}

.height-65 {
    height: 65px;
}

.height-70 {
    height: 70px;
}

.height-75 {
    height: 75px;
}

.height-80 {
    height: 80px;
}

.height-85 {
    height: 85px;
}

.height-90 {
    height: 90px;
}

.height-95 {
    height: 95px;
}

.height-100 {
    height: 100px;
}

.no-border {
    border: none !important;
}

.row.row-10 {
    margin-left: -10px;
    margin-right: -10px;
}

.row.row-10 div[class*="col-"] {
    padding-left: 10px;
    padding-right: 10px;
}

.row.row-5 {
    margin-left: -5px;
    margin-right: -5px;
}

.row.row-5 div[class*="col-"] {
    padding-left: 5px;
    padding-right: 5px;
}

.row.row-0 {
    margin-left: 0;
    margin-right: 0;
}

.row.row-0 div[class*="col-"] {
    padding-left: 0;
    padding-right: 0;
}

.form-group.is-required > label:after,
.label-required:after {
    color: #ff0000;
    vertical-align: super;
    content: " *";
    margin-left: 2px;
    position: absolute;
    text-shadow: 0 0 0px #ff0000;
}

.modal.modal-centred {
    text-align: center;
}

@media screen and (min-width: 768px) {
    .modal.modal-centred:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }
}

.modal-centred .modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.thumbnail-bordered {
    border: 1px solid #ddd !important;
}

.dl-horizontal dt {
    margin-bottom: 5px;
}

.dl-horizontal.dl-xs dt {
    width: 90px;
}

.dl-horizontal.dl-xs dd {
    margin-left: 100px;
}

.dl-horizontal.dl-sm dt {
    width: 120px;
}

.dl-horizontal.dl-sm dd {
    margin-left: 130px;
}

.text-white {
    color: #fff;
}

.text-black {
    color: #000;
}

.text-red {
    color: #ff0000;
}

.text-yellow {
    color: #f39c12;
}

.text-green {
    color: #00c14a !important;
}

.vertical-align-top {
    vertical-align: top !important;
}

.vertical-align-middle {
    vertical-align: middle !important;
}

.vertical-align-bottom {
    vertical-align: bottom !important;
}

.carousel-fade .carousel-inner .item {
    -webkit-transition-property: opacity;
    transition-property: opacity;
}

.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    opacity: 0;
}

.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}

.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.carousel-fade .carousel-control {
    z-index: 2;
}

/* CSS used here will be applied after bootstrap.css */
@media only screen and (min-width: 481px) {
    .row.equal-height {
        display: flex;
        flex-wrap: wrap;
    }

    .row.equal-height > [class*='col-'] {
        display: flex;
        flex-direction: column;
    }

    .row.equal-height.row:after,
    .row.equal-height.row:before {
        display: flex;
    }

    .row.equal-height > [class*='col-'] > .thumbnail,
    .row.equal-height > [class*='col-'] > .thumbnail > .caption {
        display: flex;
        flex: 1 0 auto;
        flex-direction: column;
    }

    .row.equal-height > [class*='col-'] > .thumbnail > .caption > .flex-text {
        flex-grow: 1;
    }

    .row.equal-height > [class*='col-'] > .thumbnail > img {
        width: 100%;
        height: 200px; /* force image's height */

        /* force image fit inside it's "box" */
        -webkit-object-fit: cover;
        -moz-object-fit: cover;
        -ms-object-fit: cover;
        -o-object-fit: cover;
        object-fit: cover;
    }
}

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}

.strikethrough {
    position: relative;
}

.strikethrough:before {
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    right: 0;
    border-top: 1px solid;
    border-color: inherit;

    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    transform: rotate(-5deg);
}

@media screen and (max-width: 767px) {
    .text-center-xs {
        text-align: center;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .text-center-sm {
        text-align: center;
    }
}
