.bootstrap-growl.alert > p {
    display: inline-block;
}

@media (min-width: 768px) {
    .navbar-right {
        float: right!important;
        margin-right: 0px !important;
    }
}

.navbar-default {
    background-color: rgba(190, 188, 151, 0.9);
    color: #fff;
    border: none;
    backdrop-filter: blur(5px);
}

.navbar-default .navbar-toggle {
    border-color: #fff;
    color: #fff;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar .navbar-brand {
    color: #fff;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
    text-transform: uppercase;

}

.navbar-default .navbar-nav.navbar-right > li > a {
    color: #fff;
    text-transform: none;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #fff;
    background-color: #BFBD99;
}

.navbar-default > li .dropdown-menu > li > a {
    color: #BFBD99;
}

.modal-dialog {
    margin-top: 0;
    margin-bottom: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.modal button.close {
    /* -webkit-appearance: none; */
    padding: 0;
    cursor: pointer;
    /* background: 0 0; */
    border: 0;
    margin-top: -27px;
    margin-right: -23px;
    background-color: #BEBC97;
    border-radius: 50%;
    padding: 15px;
    position: absolute;
    right: 0;
    z-index: 2000;
    border: 2px solid #fff;
    color: #fff;
    opacity: 1;
    text-shadow: none;
}

button.close:hover {
    opacity: 0.9 !important;
    color: #eee !important;
}


html {
    background: url(../img/bg-16-9.jpeg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: grid;
}

.div-bottom-right {
    background: transparent;
    position: fixed;
    padding: 9px 20px;
    z-index: 700;
    margin: 20px;
    bottom: 0;
    right: 0;
    text-align: center;
}

.btn-gold {
    font-size: 30px;
    padding: 20px 30px;
    width: 275px;
    background: #BEBC97;
    border-radius: 40px;
    margin: 10px 0;
    color: #fff;
}

.modal-content {
    border: 1px solid #BEBC97;
    border-radius: 2px;
    color: #BEBC97;
}

.btn-login {
    font-size: 25px;
    border-radius: 40px;
    color: #BABABA;
    background-color: #E3E3E3;
    border: 1px solid #bababa;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(0,0,0, 0.2);
    color: rgba(255, 255, 255, 0.3);
}

footer p {
    margin: 5px 0;
}