.bootstrap-growl.alert > p {
    display: inline-block;
}

textarea { resize: vertical; }

.dropzone {
    border: 2px dashed #777 !important;
    border-radius: 5px;
}

.dropzone .dz-message {
    font-size: 18px;
    color: #777;
}

.list-photos > li {
    margin: 15px;
}